@page "/k8s/tpl/add"
@using Microsoft.AspNetCore.Components
@using FOPS.Domain.Build.Enum
@using FOPS.Application.Build.YamlTpl.Entity
@using FOPS.Application.Build.YamlTpl
@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-card">
    <div class="layui-card-header">
        添加Yaml模板
        <div class="layui-right">
            <button class="layui-btn" @onclick="GotoList"><i class="am-icon-plus"></i> 列表</button>
        </div>
    </div>
    <div class="layui-card-body" style="padding: 15px;">
        <div class="layui-form-item">
            <label class="layui-form-label">模板名称</label>
            <div class="layui-input-inline">
                <input type="text" @bind="_info.Name" autocomplete="off" placeholder="请输入Yaml模板名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">k8s类型</label>
                <div class="layui-input-block">
                    <select @bind="_info.K8SKindType">
                        @foreach (var eumK8SKind in Enum.GetValues<EumK8SKind>())
                        {
                            <option value="@eumK8SKind.ToString()">@eumK8SKind.ToString()</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模板内容</label>
            <div class="layui-input-block">
                <textarea @bind="_info.Template" placeholder="Yaml模板内容" class="layui-textarea" style="margin-top: 0; margin-bottom: 0; height: 400px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模板</label>
            <div class="layui-input-block">
                <label>${project_name}</label>
                <label>${entry_point}</label>
                <label>${entry_port}</label>
                <label>${domain}</label>
            </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" @onclick="AddInfo">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    private readonly YamlTplDTO _info = new() { }; // K8SKindType = EumK8SKind.Deployment

    private async Task AddInfo()
    {
        try
        {
            if (_info.Name == null)
            {
                throw new Exception("Yaml模板名称。");
            }
                
            await _iocManager.Resolve<YamlTplApp>().AddAsync(_info);
            await js.InvokeVoidAsync("layer.msg", "添加成功", new {icon = 1});
            nav.NavigateTo("/k8s/tpl/list");
        }
        catch (Exception e)
        {
            await js.InvokeVoidAsync("layer.alert", e.Message, new {icon = 2, title = "出错了"});
        }
    }

    private void GotoList()
    {
        nav.NavigateTo("/k8s/tpl/list");
    }
}