@page "/fss/node/list"
@using FOPS.Abstract.Fss.Server
@using FOPS.Abstract.Fss.Entity
@using FS.Extends
@inject IIocManager _iocManager;
@inject NavigationManager nav;

<div class="layui-card">
    <div class="layui-card-header" id="anchor-play-header">
        服务端列表
    </div>
    <div class="layui-card-body">
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" ">
            <div class="layui-table-box">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <thead>
                        <tr>
                            <th data-field="ID" data-key="14-0-0" class="">
                                <div class="layui-table-cell laytable-cell-14-0-0">
                                    <span>节点IP</span>
                                </div>
                            </th>
                            <th data-field="Type" data-key="14-0-1" class="">
                                <div class="layui-table-cell laytable-cell-14-0-1">
                                    <span>心跳时间</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <tbody>
                        @foreach (var node in _lst)
                        {
                            <tr>
                                <td data-field="Type" data-key="14-0-0" class="">
                                    <div class="layui-table-cell laytable-cell-14-0-0">@node.Key</div>
                                </td>
                                <td data-field="Type" data-key="14-0-1" class="">
                                    <div class="layui-table-cell laytable-cell-14-0-1">@node.Value.ToString("yyyy-MM-dd HH:mm:ss")</div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <PageSplit PageIndex="1" PageSize="20" TotalCount="@_lst.Count" PageUrl="/fss/node/list"></PageSplit>
        </div>
    </div>
</div>
<style>
    .laytable-cell-14-0-0{ width: 200px; }
    .laytable-cell-14-0-1{ width: 300px; }
</style>

@code{

    private Dictionary<string, DateTime> _lst = new();

    protected override async Task OnParametersSetAsync()
    {
        _lst = await _iocManager.Resolve<INodeClient>().ToNodeListAsync();
    }

}