@page "/log/realtime"
@using System.Timers
@using FOPS.Application.AppLog
@using FOPS.Application.AppLog.ContainerLog.Entity
@using FOPS.Application.Build.Build.Entity
@using FOPS.Application.Build.Project
@using System.Text.RegularExpressions

@inject NavigationManager Nav;
@inject IJSRuntime Js;
@inject ProjectApp ProjectApp;
@inject ContainerLogListApp ContainerLogListApp;

@implements IDisposable;

<div class="layui-card">
    <div class="layui-card-header">
        实时日志
        <div class="layui-right">
            <button class="layui-btn" @onclick="GotoList"><i class="am-icon-plus"></i>历史日志</button>
        </div>
    </div>
    <div class="layui-card-body" style="background-color:#393d49;line-height: 26px">
        <div class="layui-form-item">
            <ol class="layui-code-ol" style="color: #fff;">
                @for (var index = 0; index < _lstLog.Count; index++)
                {
                    <li><span style="color:#9caf62">@_lstLog[index].CreateAt.ToString("yyyy-MM-dd HH:mm:ss")</span>
                        <strong class="layui-badge layui-bg-blue">@_lstLog[index].AppName</strong>
                        @SyntaxHighlighting(_lstLog[index].Content)</li>
                }
                </ol>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private BuildDTO _info = new();
    private List<ContainerLogDTO> _lstLog = new();
    private Timer _timer;
    private bool _isFirst;

    protected override async Task OnParametersSetAsync()
    {
        if (_isFirst) return;
        _isFirst = true;

        try
        {
            _lstLog = await ContainerLogListApp.ToListAsync() ?? new();
            await ScrollBodyTop();

            _timer = new Timer(1000);
            _timer.Elapsed += async (sender, args) =>
            {
                try
                {
                    _lstLog = await ContainerLogListApp.ToListAsync() ?? new();
    // 刷新页面
                    await InvokeAsync(StateHasChanged);
                }
                catch (Exception e)
                {
                    Console.WriteLine(e);
                }
            };
            _timer.Enabled = true;
        }
        catch
        {
        }
    }

    private void GotoList() => Nav.NavigateTo("/log/history");

    private ValueTask ScrollBodyTop()
    {
        try
        {
            return Js.InvokeVoidAsync("ScrollBodyTop");
        }
        catch
        {
        }
        return ValueTask.CompletedTask;
    }

    private MarkupString SyntaxHighlighting(string log)
    {
    // fops的命令（黄色）
        if (log.StartsWith("git -C ") ||
                 log.StartsWith("docker login ") ||
                 log.StartsWith("docker build -t ") ||
                 log.StartsWith("docker push ") ||
                 log.StartsWith("kubectl set image "))
        {
            log = $"<span style=\"color:#ffe127\">{log}</span>";
        }
    // 容器中的命令（黄色）
        else if (Regex.IsMatch(log, "#\\d+ \\[.+ \\d+/\\d+\\] "))
        {
            var cmdEndTagIndex = log.IndexOf("] ") + 1;
            var beginTip = log.Substring(0, cmdEndTagIndex);
            var cmd = log.Substring(cmdEndTagIndex);

            log = $"<span style=\"color:#6a6964\">{beginTip}</span> <span style=\"color:#ffe127\">{cmd}</span>";
        }
    // 其它 （灰色）
        else log = $"<span style=\"color:#6a6964\">{log}</span>";
        return new MarkupString(log);
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}