@page "/builder/log/{id:int}"
@using System.Timers
@using FOPS.Application.Build.Build
@using FOPS.Application.Build.Build.Entity
@using FOPS.Application.Build.Project
@using FOPS.Application.Build.Project.Entity
@using FOPS.Domain.Build.Deploy.Device
@using FOPS.Domain.Build.Enum

@inject NavigationManager Nav;
@inject IJSRuntime Js;
@inject ILogWriteDevice LogWriteDevice;
@inject ProjectApp ProjectApp;
@inject BuildApp BuildApp;
@implements IDisposable;

<div class="layui-card">
    <div class="layui-card-header">
        @_info.Id -【@_projectInfo.Name（@_info.BuildNumber）】的构建日志
        @{
            switch (_info.Status)
            {
                case EumBuildStatus.None:
                    <button class="layui-btn layui-btn-xs layui-btn-primary">未开始</button>
                    break;
                case EumBuildStatus.Building:
                    <button class="layui-btn layui-btn-xs layui-btn-normal">构建中</button>
                    break;
                case EumBuildStatus.Finish:
                    if (_info.IsSuccess)
                    {
                        <button class="layui-btn layui-btn-xs">成功</button>
                    }
                    else
                    {
                        <button class="layui-btn layui-btn-xs layui-btn-danger">失败</button>
                    }
                    break;
            }
        }
        <div class="layui-right">
            @if (_info.Status != EumBuildStatus.Building)
            {
                <button class="layui-btn layui-btn-danger" @onclick="AddBuild">构建</button>
            }
            <button class="layui-btn" @onclick="GotoList"><i class="am-icon-plus"></i> 列表</button>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <pre class="layui-code layui-box layui-code-view" id="preLog">
                <h3 class="layui-code-h3">code<a href="javasciprt:;">执行日志</a></h3>
                <ol class="layui-code-ol">
                @for (var index = 0; index < _lstLog.Length; index++)
                {
                    var log = _lstLog[index];
                    <li>@(index + 1) : @log</li>
                }
                </ol>
                </pre>
        </div>
        @{
            if (_info.Status == EumBuildStatus.Building)
            {
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" @onclick="CancelBuild">取消</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private BuildDTO _info = new();
    private ProjectDTO _projectInfo = new();
    private string[] _lstLog = Array.Empty<string>();
    private Timer _timer;
    private bool _isFirst;

    protected override async Task OnParametersSetAsync()
    {
        if (_isFirst) return;
        _isFirst = true;

        if (Id > 0 && _info.Id == 0)
        {
            try
            {
                _info = await BuildApp.ToInfoAsync(Id);
                if (_info == null)
                {
                    await Js.InvokeVoidAsync("layer.alert", "构建队列不存在", new
                    {
                        icon = 2,
                        title = "出错了"
                    });
                    GotoList();
                    return;
                }

                _projectInfo = await ProjectApp.ToInfoAsync(_info.ProjectId) ?? new();
                _lstLog = LogWriteDevice.View(_info.Id);
                if (_info.Status != EumBuildStatus.Finish)
                {
                    _timer = new Timer(1000);
                    _timer.Elapsed += async (sender, args) =>
                    {
                        try
                        {
                            var oldLineCount = _lstLog.Length;
                            _info = await BuildApp.ToInfoAsync(Id);
                            _lstLog = LogWriteDevice.View(_info.Id);
    // 刷新页面
                            await InvokeAsync(StateHasChanged);
    // 完成状态，则停止时间器
                            if (_info.Status == EumBuildStatus.Finish) _timer.Stop();
    // 有新内容时，滚屏到底部
                            if (oldLineCount != _lstLog.Length) await ScrollBodyTop();
                        }
                        catch (Exception e)
                        {
                            Console.WriteLine(e);
                        }
                    };
                    _timer.Enabled = true;
                }
            }
            catch
            {
            }
        }
    }

    private async Task CancelBuild()
    {
        await BuildApp.Cancel(Id);
        _info = await BuildApp.ToInfoAsync(Id);
    }

    private void GotoList()
    {
        Nav.NavigateTo("/builder/list");
    }

    private ValueTask ScrollBodyTop()
    {
        try
        {
            return Js.InvokeVoidAsync("ScrollBodyTop");
        }
        catch
        {
        }
        return ValueTask.CompletedTask;
    }

    /// 构建
    private async Task AddBuild()
    {
        var load = await Js.InvokeAsync<int>("layer.load", 0, "{shade: false}");
        try
        {
            Id = await BuildApp.AddAsync(_info.ProjectId, _info.ClusterId);
            _info = await BuildApp.ToInfoAsync(Id);
            await Js.InvokeVoidAsync("layer.msg", "已加入到队列", new
            {
                icon = 1,
                title = "执行结果"
            });
        }
        catch (Exception e)
        {
            await Js.InvokeVoidAsync("layer.alert", e.Message, new
            {
                icon = 2,
                title = "加入失败"
            });
        }
        await Js.InvokeVoidAsync("layer.close", load);
        Nav.NavigateTo($"/builder/log/{Id}", true);
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}