@using FOPS.Abstract.MetaInfo.Server
@using FOPS.Abstract.Builder.Enum
@using FOPS.Abstract.Builder.Server
@using FOPS.Abstract.MetaInfo.Entity
@using FOPS.Abstract.Builder.Entity
@using System.Timers
@using FS.Extends

@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-table-header">
    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
        <thead>
        <tr>
            <th data-field="ID">
                <div class="layui-table-cell laytable-cell-build-0">
                    <span>ID</span>
                </div>
            </th>
            <th data-field="Type">
                <div class="layui-table-cell laytable-cell-build-1">
                    <span>项目名称</span>
                </div>
            </th>
            <th data-field="Type">
                <div class="layui-table-cell laytable-cell-build-2">
                    <span>状态</span>
                </div>
            </th>
            <th data-field="Type">
                <div class="layui-table-cell laytable-cell-build-3">
                    <span>操作</span>
                </div>
            </th>
        </tr>
        </thead>
    </table>
</div>
<div class="layui-table-body layui-table-main">
    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
        <tbody>
        @for (var index = 0; index < _lstBuild.Count; index++)
        {
            var info = _lstBuild[index];
            <tr data-index="@index">
                <td>
                    <div class="layui-table-cell laytable-cell-build-0"> @info.Id</div>
                </td>
                <td>
                    <div class="laytable-cell-build-1">
                        @{
                            var projectVO = _lst.Find(o => o.Id == info.ProjectId);
                            if (projectVO == null) projectVO = _iocManager.Resolve<IProjectService>().ToInfo(info.ProjectId);
                        }
                        <a href="/builder/log/@info.Id">@projectVO.Name</a>
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell laytable-cell-build-2">
                        @switch (info.Status)
                        {
                            case EumBuildStatus.None:
                                <button class="layui-btn layui-btn-xs layui-btn-primary">未开始</button>
                                break;
                            case EumBuildStatus.Building:
                                <button class="layui-btn layui-btn-xs layui-btn-normal">构建中</button>
                                break;
                            case EumBuildStatus.Finish:
                                if (info.IsSuccess)
                                {
                                    <button class="layui-btn layui-btn-xs">成功</button>
                                }
                                else
                                {
                                    <button class="layui-btn layui-btn-xs layui-btn-danger">失败</button>
                                }
                                break;
                        }
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell laytable-cell-build-3">
                        @if (info.Status == EumBuildStatus.Building)
                        {
                            <button class="layui-btn layui-btn-radius layui-btn-xs" @onclick="() => CancelBuild(info)">
                                <i class="layui-icon"></i>
                            </button>
                        }
                        @if (info.Status == EumBuildStatus.Finish)
                        {
                            <span>@((DateTime.Now - info.FinishAt).GetDateDesc())</span>
                        }
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<style>
    .laytable-cell-build-0{ width: 70px; }
    .laytable-cell-build-1{ width: 150px; }
    .laytable-cell-build-2{ width: 80px; }
    .laytable-cell-build-3{ width: 110px; }
</style>
@code{
        private List<BuildVO> _lstBuild = new();
        private List<ProjectVO> _lst = new();
        private Timer _timer;

        private async Task CancelBuild(BuildVO info)
        {
            await _iocManager.Resolve<IBuildService>().Cancel(info.Id);
            await GetList();
        }

        protected override async Task OnInitializedAsync()
        {
            _lst = await _iocManager.Resolve<IProjectService>().ToListAsync();
            await GetList();

            _timer = new Timer(2000);
            _timer.Elapsed += async (_, _) =>
            {
                await GetList();
                // 刷新页面
                await InvokeAsync(StateHasChanged);
            };
            _timer.Enabled = true;
        }

        private async Task GetList()
        {
            // 重新读取所有列表
            _lstBuild = await _iocManager.Resolve<IBuildService>().ToBuildingList(20);
        }
}