@using FS.DI;
@using FS.ElasticSearch.Configuration
@using Microsoft.Extensions.Configuration
@using FS.Data.Configuration
@inject IIocManager _iocManager;

<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span>星云中心</span>
            </NavLink>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" lay-tips="控制台" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>控制台</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="console" class="layui-this">
                        <NavLink class="nav-link" href="/">
                            大盘
                        </NavLink>
                    </dd>
                </dl>
            </li>
            @{
                var configurationSection = _iocManager.Resolve<IConfigurationRoot>().GetSection("Database");
                var dbConfig = configurationSection.Get<DbConfig>();
                if (dbConfig.Items.Any(o => o.Name == "fss_db"))
                {
                    <li data-name="fss" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="FSS" lay-direction="2">
                            <i class="layui-icon layui-icon-component"></i>
                            <cite>FSS</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="grid">
                                <NavLink class="nav-link" href="/fss/task_group/list" Match="NavLinkMatch.All">
                                    任务组
                                </NavLink>
                            </dd>
                            <dd data-name="grid">
                                <NavLink class="nav-link" href="/fss/tasks/faillist" Match="NavLinkMatch.All">
                                    失败任务
                                </NavLink>
                            </dd>
                            <dd data-name="grid">
                                <NavLink class="nav-link" href="/fss/tasks/unrunlist" Match="NavLinkMatch.All">
                                    未执行任务
                                </NavLink>
                            </dd>
                            <dd data-name="form">
                                <NavLink class="nav-link" href="/fss/client/list" Match="NavLinkMatch.All">
                                    客户端列表
                                </NavLink>
                            </dd>
                        </dl>
                    </li>
                }
            }
            @{
                var esConfig = _iocManager.Resolve<IConfigurationRoot>().GetSection("ElasticSearch");
                var elasticSearchItemConfigs = esConfig.GetChildren().Select(o => o.Get<ElasticSearchItemConfig>());
                if (elasticSearchItemConfigs.Any(o => o.Name == "LinkTrack"))
                {
                    <li data-name="fss" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="FSS" lay-direction="2">
                            <i class="layui-icon layui-icon-component"></i>
                            <cite>监控</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="grid">
                                <NavLink class="nav-link" href="/link_track/link/list" Match="NavLinkMatch.All">
                                    链路追踪
                                </NavLink>
                            </dd>
                            <dd>
                                <NavLink class="nav-link" href="/link_track/db/list" Match="NavLinkMatch.All">
                                    数据库
                                </NavLink>
                            </dd>
                            <dd>
                                <NavLink class="nav-link" href="/link_track/redis/list" Match="NavLinkMatch.All">
                                    Redis
                                </NavLink>
                            </dd>
                            <dd>
                                <NavLink class="nav-link" href="/link_track/mq/list" Match="NavLinkMatch.All">
                                    Mq
                                </NavLink>
                            </dd>
                            <dd>
                                <NavLink class="nav-link" href="/link_track/http/list" Match="NavLinkMatch.All">
                                    Http
                                </NavLink>
                            </dd>
                            <dd>
                                <NavLink class="nav-link" href="/link_track/grpc/list" Match="NavLinkMatch.All">
                                    Grpc
                                </NavLink>
                            </dd>
                            <dd>
                                <NavLink class="nav-link" href="/link_track/es/list" Match="NavLinkMatch.All">
                                    Elasticsear
                                </NavLink>
                            </dd>
                        </dl>
                    </li>
                }
            }
            <li data-name="deploy" class="layui-nav-item">
                <a href="javascript:;" lay-tips="构建" lay-direction="2">
                    <i class="layui-icon layui-icon-app"></i>
                    <cite>构建</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="content">
                        <NavLink href="/builder/list">立即</NavLink>
                    </dd>
                </dl>
            </li>
            <li data-name="k8s" class="layui-nav-item">
                <a href="javascript:;" lay-tips="K8S" lay-direction="2">
                    <i class="layui-icon layui-icon-template"></i>
                    <cite>K8S</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <NavLink href="/k8s/cluster/list">集群管理</NavLink>
                    </dd>
                    <dd>
                        <NavLink href="/k8s/tpl/list">模板管理</NavLink>
                    </dd>
                    <dd>
                        <NavLink href="/k8s/deploy/list">POD发布</NavLink>
                    </dd>
                    <dd>
                        <NavLink href="/k8s/single/deploy">yaml发布</NavLink>
                    </dd>
                </dl>
            </li>
            <li data-name="docker" class="layui-nav-item">
                <a href="javascript:;" lay-tips="镜像" lay-direction="2">
                    <i class="layui-icon layui-icon-template"></i>
                    <cite>容器</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <NavLink href="/docker/tpl/list">模板管理</NavLink>
                    </dd>
                    <dd>
                        <NavLink href="/docker/hub/list">仓库管理</NavLink>
                    </dd>
                </dl>
            </li>
            <li data-name="set" class="layui-nav-item">
                <a href="javascript:;" lay-tips="设置" lay-direction="2">
                    <i class="layui-icon layui-icon-set"></i>
                    <cite>设置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <NavLink href="/project_group/list">项目组设置</NavLink>
                    </dd>
                    <dd>
                        <NavLink href="/project/list">项目设置</NavLink>
                    </dd>
                    <dd>
                        <NavLink href="/git/list">Git设置</NavLink>
                    </dd>
                    <dd>
                        <NavLink href="/admin/list">管理员列表</NavLink>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>