@page "/docker/tpl/add"
@using Microsoft.AspNetCore.Components
@using FOPS.Abstract.K8S.Entity
@using FOPS.Abstract.K8S.Enum
@using FOPS.Abstract.K8S.Server
@using FS.Extends
@using FOPS.Abstract.Docker.Entity
@using FOPS.Abstract.Docker.Server
@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-card">
    <div class="layui-card-header">
        添加Dockerfile模板
        <div class="layui-right">
            <button class="layui-btn" @onclick="GotoList"><i class="am-icon-plus"></i> 列表</button>
        </div>
    </div>
    <div class="layui-card-body" style="padding: 15px;">
        <div class="layui-form-item">
            <label class="layui-form-label">模板名称</label>
            <div class="layui-input-inline">
                <input type="text" @bind="_info.Name" autocomplete="off" placeholder="请输入Dockerfile模板名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模板内容</label>
            <div class="layui-input-block">
                <textarea @bind="_info.Template" placeholder="Dockerfile模板内容" class="layui-textarea" style="margin-top: 0; margin-bottom: 0; height: 400px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" @onclick="AddInfo">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    private readonly DockerfileTplVO _info = new() { };

    private async Task AddInfo()
    {
        try
        {
            if (_info.Name == null)
            {
                throw new Exception("Dockerfile模板名称。");
            }
                
            await _iocManager.Resolve<IDockerfileTplService>().AddAsync(_info);
            await js.InvokeVoidAsync("layer.alert", "添加成功", new {icon = 1});
            nav.NavigateTo("/docker/tpl/list");
        }
        catch (Exception e)
        {
            await js.InvokeVoidAsync("layer.alert", e.Message, new {icon = 2, title = "出错了"});
        }
    }

    private void GotoList()
    {
        nav.NavigateTo("/docker/tpl/list");
    }
}