*[template][lay-type="control"] { display: block; }
.layui-col-p20 { width: 20%; float: left; position: relative; display: block; box-sizing: border-box; }
.layui-clear::after { clear: both; content: " "; display: block; }
.layui-left { float: left; }
.layui-right { float: right; }
.layui-table-edit { text-align: center; }

img { max-width: 100%; }
hr.sm { margin: 5px 0px; }
hr.xs { margin: 2px 0px; }

/* 小一号的表单 */
.layui-form.layui-form-sm { font-size: 12px; }
.layui-form.layui-form-sm .layui-input,
.layui-form.layui-form-sm .layui-select,
.layui-form.layui-form-sm .layui-textarea { line-height: 30px; height: 30px; font-size: 12px; }
.layui-form.layui-form-sm .layui-input-inline { max-width: 130px; line-height: 30px; }
.layui-form.layui-form-sm .layui-form-mid { padding: 4px 0 !important; }
.layui-form.layui-form-sm .layui-form-label { padding: 4px 10px 4px 15px !important; width: auto; min-width: 40px; }
.layui-form.layui-form-sm .layui-form-select dl { top: 32px; }
.layui-form.layui-form-sm .layui-form-select dl dd,
.layui-form.layui-form-sm .layui-form-select dl dt { line-height: 26px; font-size: 12px; }
.layui-form.layui-form-sm .layui-form-item .layui-form-checkbox { margin-top: 0px; }
.layui-input.layui-input-password-number6 { border: none; background: url(../images/input-pwd.png) no-repeat; width: 248px; height: 38px; font-size: 64px; letter-spacing: 20px; padding-left: 8px; color: transparent; text-shadow: 0 0 0 #000; }
.layui-form.layui-form-sm .layui-form-label .layui-form-switch { margin-top: 0px; }
.layui-form.layui-form-sm .layui-form-switch { margin-top: unset; }
.layui-form.layui-form-sm select[lay-ignore='select'] { height: 28px; margin: 0px 0px; }

.layui-form-label.auto { width: auto; }
.layui-form-label.w100 { width: 100px; }
.layui-form-label.w150 { width: 150px; }
.layui-form-label.w150 ~ .layui-input-block { margin-left: 180px; }
.layui-form-label.w200 { width: 200px; }
.layui-form-label.w200 ~ .layui-input-block { margin-left: 200px; }
.layui-form-block.text,
layui-form-inline.text { padding: 9px 15px; line-height: 20px; }

input[type=image].layui-input-upload { height: 42px; border: 1px solid #ccc; border-radius: 4px; }

.layui-form .layui-form-item.hide { display: none; }
.layui-form .layui-input.layui-input-transparent,
.layui-form .layui-input.layui-input-transparent:hover { background-color: transparent !important; border-color: transparent !important; }
.layui-form .layui-input-inline,
.layui-form .layui-input-block { min-height: 1px; line-height: 38px; }
.layui-form .layui-input-inline.auto { width: auto; max-width: inherit; }
.layui-form .layui-input-inline.auto .layui-form-radio { margin-right: 0px; padding-right: 0px; }
.layui-form .layui-input-inline.right { float: right; }
.layui-form .layui-input-inline.w40 { width: 40px; }
.layui-form .layui-input-inline.w50 { width: 50px; }
.layui-form .layui-input-inline.w80 { width: 80px; }
.layui-form .layui-input-inline.w100 { width: 100px; }
.layui-form .layui-input-inline.w120 { width: 120px; }
.layui-form .layui-input-inline.w150 { max-width: 150px; width: 150px; }
.layui-form .layui-input-inline.w180 { width: 180px; max-width: 180px; }
.layui-form .layui-input-inline.w200 { width: 200px; max-width: 200px; }
.layui-form .layui-input-inline.w240 { width: 240px; max-width: 240px; }
.layui-form .layui-input-inline.w300 { width: 300px; max-width: 300px; }
.layui-form .layui-input-inline.w400 { width: 400px; max-width: 400px; }
.layui-form .layui-input-inline.w500 { width: 500px; max-width: 500px; }
.layui-input.percent { background-image: url(../images/ico-percent.png); background-repeat: no-repeat; background-position: right center; background-size: 24px 24px; text-align: right; padding-right: 26px; }
.layui-input.loading { background-image: url(../../images/loading.gif); background-repeat: no-repeat; background-position: 10px center; }
.layui-form .layui-input-inline.percent { position: relative; }
.layui-form .layui-input-inline.percent .layui-input { text-align: right; padding-right: 20px; }
.layui-form .layui-input-inline.percent::after { position: absolute; content: "\f295"; display: inline-block; font: normal normal normal 1.6rem/1 FontAwesome,sans-serif; font-size: inherit; text-rendering: auto; transform: translate(0,0); width: 20px; height: 36px; text-align: center; line-height: 36px; right: 1px; top: 1px; background-color: #fff; }

.layui-form-switch-normal .layui-form-switch { border-color: #5FB878; background-color: #5FB878; }
.layui-form-switch-normal .layui-form-switch em { color: #fff !important; }
.layui-form-switch-normal .layui-form-switch i { background-color: #fff !important; }
.layui-form-onswitch-danger .layui-form-switch.layui-form-onswitch { border-color: #FF5722; background-color: #FF5722; }

.layui-input-block.tool,
.layui-form-item.tool { position: relative; }
.layui-input-block.tool .btn,
.layui-form-item.tool .btn { position: absolute; right: 4px; top: 4px; }

.layui-form-item.margin0 { margin-bottom: 0px; }
.layui-card-header { padding: 5px 5px 5px 15px; }
.layui-card-header.auto { height: auto; line-height: 24px; }

.layui-textarea { transition: none; }

.layui-form input[type=checkbox][lay-ignore] { display: initial; }
.layui-form select[lay-ignore='select'] { width: 100%; height: 32px; margin: 4px 0px; border: 1px solid #ccc; color: #333; border-radius: 3px; }
.layui-form select[lay-ignore='select'].auto { width: auto; }

.layui-btn[disabled] { border: 1px solid #e6e6e6; background-color: #FBFBFB; color: #C9C9C9; cursor: not-allowed; opacity: 1; cursor: default; }
/* 右侧工具条 */

/* 小一号的复选框控件 */
input[type=checkbox][lay-size='sm'] ~ .layui-form-checkbox { height: 20px; line-height: 20px; padding-right: 20px; }
input[type=checkbox][lay-size='sm'] ~ .layui-form-checkbox span { font-size: 12px; }
input[type=checkbox][lay-size='sm'] ~ .layui-form-checkbox i { width: 20px; height: 18px; font-size: 16px; font-weight: bold; }

/* 搜索选择控件 */
.layui-input-inline.input-query { position: relative; }
.layui-input-inline.input-query .input-query-content { visibility: hidden; transition: all 0.2s; position: absolute; top: 100%; left: 0px; right: 0px; border: 1px solid #e6e6e6; border-top-color: transparent; box-shadow: 0px 2px 2px rgba(0,0,0,.5); max-height: 114px; overflow: hidden; background-color: #fff; z-index: 900; }
.layui-input-inline.input-query .layui-input:focus ~ .input-query-content { visibility: visible; }
.layui-input-inline.input-query .input-query-content a { display: block; line-height: 22px; text-align: left; text-indent: 1em; overflow: hidden; height: 22px; border-bottom: 1px solid #e6e6e6; }
.layui-input-inline.input-query .input-query-content a.selected,
.layui-input-inline.input-query .input-query-content a:hover { background-color: #efefef; }

/* 选中之后红色 */
/* 未选是绿色 */
.layui-form-switch-danger .layui-unselect.layui-form-switch,
.layui-form-switch-danger + .layui-unselect.layui-form-switch { background-color: #5FB878; border-color: #5FB878; }
.layui-form-switch-danger .layui-unselect.layui-form-switch em,
.layui-form-switch-danger + .layui-unselect.layui-form-switch em { color: #fff !important; }
.layui-form-switch-danger .layui-unselect.layui-form-switch i,
.layui-form-switch-danger + .layui-unselect.layui-form-switch i { background-color: #fff !important; }
.layui-form-switch-danger .layui-unselect.layui-form-switch.layui-form-onswitch,
.layui-form-switch-danger + .layui-unselect.layui-form-switch.layui-form-onswitch { background-color: #FF5722; border-color: #FF5722; }

/* 字体颜色 */
.layui-text-center { text-align: center; }
.layui-text-left { text-align: left; }
.layui-text-right { text-align: right; }
.layui-text-ft12 { font-size: 12px; }
.layui-text-ft14 { font-size: 14px; }
.layui-text-ft16 { font-size: 16px; }
.layui-text-ft18 { font-size: 18px; }
.layui-text-ft22 { font-size: 22px; }
.layui-text-ft26 { font-size: 26px; }
.layui-text-ft32 { font-size: 32px; }
.layui-text-ft36 { font-size: 36px; }
.layui-text-ft42 { font-size: 42px; }
.layui-text-ft64 { font-size: 64px; }
.layui-text-ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.layui-text-green { color: #5FB878 !important; }
.layui-text-black { color: #393D49 !important; }
.layui-text-blue { color: #1E9FFF !important; }
.layui-text-orange { color: #FFB800 !important; }
.layui-text-red { color: #FF5722 !important; }
.layui-text-gray { color: #cccccc !important; }
.layui-text-cyan { color: #2F4056 !important; }
.layui-text-white { color: #fff !important; }
.layui-bg-gray { background-color: #cccccc; }
.layui-bg-white { background-color: #fff; }
.layui-bg-black { background-color: #333; }

.layui-text-tip { background-color: rgba(255,184,0,.3); color: #FF5722; padding: 10px; font-size: 12px; border: 1px solid #FFB800; }
.layui-text-tip::before { display: inline-block; font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); content: "\f071 温馨提示："; }
.layui-text-tip.notip::before { content: unset; display: none; }
.layui-text-tip ol { padding-left: 12px; }
.layui-text-tip ol li { list-style-type: decimal; }

hr.line { padding: 0px; margin: 0px; }
fieldset { border: 1px solid #ccc; box-shadow: 2px 2px 2px rgba(0,0,0,.1) inset,-2px -2px 2px rgba(0,0,0,.1) inset; border-radius: 8px; }
fieldset ~ fieldset { margin-top: 10px; }
legend { text-shadow: 1px 1px 0px #fff; background: #fff; border-radius: 5px; border: 1px solid #efefef; padding: 0px 5px; }

/* 按钮扩展 */
.layui-btn.layui-btn-block { display: block; width: 100%; margin: auto; }

/* 扩展的表单元素 */
/* 红色的复选框 */
.layui-form-checked[lay-skin='danger'] span, .layui-form-checked[lay-skin='danger']:hover span { background-color: #FF5722; }
.layui-form-checked[lay-skin='danger'] i, .layui-form-checked[lay-skin='danger']:hover i { color: #FF5722; }

/* 数字输入密码 */
.layui-form .layui-input[type=password][lay-mode=number] { display: none; }
.layui-form .layui-input-password { }
.layui-form .layui-input-password-6 { min-width: 260px; }
.layui-form .layui-input-password .layui-input { width: 38px; margin-right: 5px; text-align: center; padding-left: 0px; display: inline-block; border-radius: 4px; font-size: 22px; }
.layui-form .layui-input-password .layui-input:focus { box-shadow: #1E9FFF 2px 2px 5px inset,#1E9FFF -2px -2px 5px inset; }

.layui-form.icon .layui-form-item { position: relative; }
.layui-form.icon .layui-form-item > .icon { position: absolute; left: 0px; top: 0px; width: 34px; height: 100%; line-height: 38px; font-size: 18px; }
.layui-form.icon .layui-form-item > .icon ~ .layui-input { text-indent: 40px; }

.layui-card-header .layui-btn-right { float: right; margin: 2px 5px; }
.layui-card-header-right-info { position: absolute; right: 10px; top: 0px; line-height: 22px; }

.layui-form-item .layui-input-inline.auto { width: auto; line-height: 38px; }
.layui-form.layui-form-sm .layui-form-item .layui-input-inline.auto { line-height: 30px; }

/* 表格扩展 */
.layui-table-view { box-shadow: 0px 0px 5px rgba(0,0,0,.1); border-radius: 4px; overflow: hidden; }
.layui-table tr { transition: none; -webkit-transition: none; }
.layui-table thead tr th { text-shadow: 1px 1px 0px #fff; color: #000; }
.layui-table img { max-height: 32px; max-width: 32px; border: 1px solid #ccc; padding: 1px; border-radius: 6px; }

.layui-table thead { background: linear-gradient(to bottom, #fafafa 0%,#efefef 100%); }
.layui-table thead tr { background-color: transparent; }
.layui-table tbody tr:hover { background-color: rgba(255,255,0,0.2); }
.layui-table-view .layui-table th { }
.layui-table.layui-table-padding[lay-size=sm] td, .layui-table.layui-table-padding[lay-size=sm] th { padding: 10px 10px; }
.layui-table.layui-table-noeven tbody tr:hover { background-color: #fff; }
.layui-table-view .layui-table[lay-skin=auto] .layui-table-cell { height: auto; text-align: center; }
.layui-table-view .layui-table tfoot tr { background: linear-gradient(to bottom, #000000 0%,#e5e5e5 10%,#f5f5f5 95%,#666 100%); border-radius: 0px 0px 4px 4px; }
.layui-table-view .layui-table tfoot tr td { padding: 5px; border-color: transparent; text-align: center; font-weight: bold; text-shadow: 1px 0px 0px #fff, 0px 1px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff; }

.layui-table-view .layui-table[lay-skin=auto] td .layui-table-cell.laytable-cell-sort { height: 22px; }
.layui-table-view .layui-table[lay-skin=auto] td .layui-table-cell.laytable-cell-sort::after { cursor: move; display: inline-block; font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); content: "\f047"; }
.layui-table thead th { text-align: center; }

/* 信息展示 */
.layui-table.layui-table-info { }
.layui-table.layui-table-info td { text-indent: 0.5em; }

/* 强制导航条显示 */
.layui-breadcrumb.show { visibility: visible; font-size: 14px; }

/* 自定义的表格 */
.layui-table.list { }
.layui-table.list thead tr th { text-align: center; }

.layui-table.list .left { text-align: left !important; }
.layui-table.list td { text-align: center; }
.layui-table tr.line td,
.layui-table tr.line th { border-bottom-color: #999; }

/* 信息弹出框 */
.layui-layer.layui-layer-notify { }
.layui-layer.layui-layer-notify .layui-layer-content { padding: 10px 20px 20px 64px; }
.layui-layer-notify-icon { width: 42px; height: 42px; position: absolute; left: 10px; top: 10px; background: no-repeat center; background-size: cover; }

/* 等待窗口 */
.layui-layer-loading .layui-layer-loading2 { background-color: rgba(0,0,0,.8) !important; background-position: center 20px !important; border-radius: 10px; padding: 20px 80px 50px; /*transform: translate(-50px,-35px);*/ }
.layui-layer-loading .layui-layer-loading2::after { content: "正在努力加载中..."; font-size: 12px; text-align: center; position: absolute; left: 0px; right: 0px; bottom: 24px; color: #fff; }

/* 面包屑导航 */
.layui-breadcrumb-path { line-height: 22px; }
.layui-breadcrumb-path::after { clear: both; content: " "; display: block; }
.layui-breadcrumb-path .tit { float: left; }
.layui-breadcrumb-path .path { float: left; }
.layui-breadcrumb-path .path em { padding: 0px 5px; color: #ccc; font-style: normal; }
.layui-breadcrumb-path .path em::after { content: " / "; padding-left: 5px; text-decoration: none; color: #ccc; }
.layui-breadcrumb-path .path em:last-child::after { display: none; }
/* 可点击 */
.layui-breadcrumb-path.link .path em { color: #1E9FFF; cursor: pointer; }

/* 弹出view皮肤 */
.layui-layer-admin.padding0 .layui-layer-content,
.layui-layer-admin.padding0 .layui-layer-content .layui-tab { padding: 0px; margin: 0px; }

/* 货币符号 */
.currency.CNY::before { content: "￥"; }
.currency.USD::before { content: "$"; }
.currency.TWD::before { content: "NT$"; }
.currency.EUR::before { content: "€"; }
.currency.THB::before { content: "฿"; }
.currency.VND::before { content: "₫"; }
.currency.IDR::before { content: "₨"; }
.currency.PHP::before { content: "₱"; }
.currency.RUB::before { content: "$"; }
.currency.JPY::before { content: "¥"; }
.currency.KRW::before { content: "₩"; }
.currency.INR::before { content: "₹"; }
.currency.MYR::before { content: "RM"; }

/* 图片上传控件 */
input[data-upload="paste"] { background-size: contain; background-position: center center; background-repeat: no-repeat; }
input.w80[data-upload="paste"] { width: 80px; }

/* 单独一行的按钮分组 */
p.layui-btn-group { display: block; }

/* 表格组件不自动隐藏多出内容　*/
.layui-table-break + .layui-table-view .layui-table-cell { white-space: normal; }